<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="my-5 text-center">
        {{ title }}
      </h1>
    </div> <!-- /.col-12 -->
  </div> <!-- /.row -->
  <div class="row">
    <div class="col-12">
      <h2>Minecraft Recipes</h2>
      <table class="table table-dark table-hover table-striped">
        <thead>
          <tr>
            <th>Type</th>
            <th>Group</th>
            <th>Ingredients</th>
            <!-- <th>Ingredients Item</th> -->
            <th>Pattern</th>
            <th>Result</th>
            <th>Result Item</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let recipe of MinecraftRecipes; index as i;">
            <td>{{ recipe.type ? recipe.type : '' }}</td>
            <td>{{ recipe.group ? recipe.ingredients : '' }}</td>
            <td>{{ recipe.ingredients ? recipe.ingredients : '' }}</td>
            <!-- <td>{{ recipe.ingredients.item ? recipe.ingredients.item : '' }}</td> -->
            <td>{{ recipe.pattern ? recipe.pattern : '' }}</td>
            <td>{{ recipe.result === null ? recipe.result : recipe.result.item }}</td>
            <td>{{ recipe.result.item ? recipe.result.item : '' }}</td>
          </tr>
        </tbody>
      </table>
    </div> <!-- /.col-12 -->
  </div> <!-- /.row -->
</div> <!-- /.container -->

<router-outlet></router-outlet>
